@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme {
  --color-primary:#FF394B;
  --color-primary-dull:#003366;
  --color-red:#FF0000;
  --color-green:#008000
}